{
  "openapi": "3.1.0",
  "info": {
    "title": "Driftstack API",
    "version": "0.0.1",
    "description": "Driftstack API for iPhone Safari automation. Versioned public contract under /v1.\n\n## Team RBAC: X-Driftstack-Account header (V-326e)\n\nMembers of a team can scope any /v1/* request to the OWNER's resources by passing\nthe `X-Driftstack-Account: acc_<owner-uuid>` request header. The server validates that\nthe calling account is on the team referenced by the header.\n\n- Read endpoints (GET): both `member` and `admin` roles allowed.\n- Write endpoints (POST / PATCH / DELETE / api-keys rotate): `admin` role only;\n  `member` role gets 403.\n\nEndpoints honoring the header: /v1/sessions (+ all session sub-paths), /v1/profiles,\n/v1/agent-sessions (+ all sub-paths; team admin role required for reads and writes),\n/v1/api-keys (+ /:id/rotate), /v1/webhooks (+ /:id/deliveries + replay),\n/v1/account/audit-log (+ export), /v1/account/email-preferences, /v1/usage,\n/v1/usage/series.\n\nEndpoints that do NOT honor the header: /v1/team/*, /v1/account/me (always\nreturns the caller's own profile + their team list), /v1/auth/*.\n\nSee `docs.driftstack.dev/api/team` for full details.",
    "license": {
      "name": "MIT"
    },
    "contact": {
      "name": "Driftstack",
      "url": "https://github.com/driftstackdev/driftstack-api"
    }
  },
  "servers": [
    {
      "url": "https://api.driftstack.dev",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      },
      "FleetNodeBearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "short-lived Ed25519 JWT",
        "description": "Fleet-node JWT signed by the provisioned node key. The token lifetime is at most five minutes, its nonce is single-use, and the production fleet edge additionally enforces mutual TLS."
      },
      "FleetNodeQueryToken": {
        "type": "apiKey",
        "in": "query",
        "name": "ds_token",
        "description": "URLSessionWebSocketTask-compatible alternative to Authorization: Bearer. Carries the same short-lived, single-use fleet-node JWT; the production fleet edge additionally enforces mutual TLS."
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": ["string", "null"]
          },
          "tier": {
            "type": "string",
            "enum": [
              "free",
              "solo_manual",
              "team_manual",
              "agency_manual",
              "api_starter",
              "api_builder",
              "api_scale",
              "enterprise"
            ]
          },
          "status": {
            "type": "string",
            "enum": ["active", "suspended", "deleted"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": ["id", "email", "name", "tier", "status", "created_at", "updated_at"]
      },
      "AccountMeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": ["string", "null"]
          },
          "tier": {
            "type": "string",
            "enum": [
              "free",
              "solo_manual",
              "team_manual",
              "agency_manual",
              "api_starter",
              "api_builder",
              "api_scale",
              "enterprise"
            ]
          },
          "status": {
            "type": "string",
            "enum": ["active", "suspended", "deleted"]
          },
          "timezone": {
            "type": ["string", "null"]
          },
          "slug": {
            "type": ["string", "null"]
          },
          "region": {
            "type": ["string", "null"],
            "enum": ["us", "eu", "apac", null]
          },
          "avatar_url": {
            "type": ["string", "null"]
          },
          "avatar_source": {
            "type": "string",
            "enum": ["user", "idp", "none"]
          },
          "mfa_enrolled": {
            "type": "boolean"
          },
          "concurrent_session_cap": {
            "type": "integer",
            "minimum": 0
          },
          "concurrent_session_active": {
            "type": "integer",
            "minimum": 0
          },
          "profile_cap": {
            "type": ["integer", "null"],
            "minimum": 0
          },
          "profile_count": {
            "type": "integer",
            "minimum": 0
          },
          "teams": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "owner_account_id": {
                  "type": "string"
                },
                "owner_email": {
                  "type": "string"
                },
                "owner_name": {
                  "type": ["string", "null"]
                },
                "role": {
                  "type": "string",
                  "enum": ["admin", "member"]
                },
                "membership_id": {
                  "type": "string"
                }
              },
              "required": ["owner_account_id", "owner_email", "owner_name", "role", "membership_id"]
            }
          }
        },
        "required": [
          "id",
          "email",
          "name",
          "tier",
          "status",
          "timezone",
          "slug",
          "region",
          "avatar_url",
          "avatar_source",
          "mfa_enrolled",
          "concurrent_session_cap",
          "concurrent_session_active",
          "profile_cap",
          "profile_count",
          "teams"
        ]
      },
      "UpdateAccountMeRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 120
          },
          "timezone": {
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 64
          },
          "slug": {
            "type": ["string", "null"],
            "minLength": 3,
            "maxLength": 32,
            "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
          },
          "region": {
            "type": ["string", "null"],
            "enum": ["us", "eu", "apac", null]
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "read",
                "write",
                "admin",
                "account_owner",
                "driftstack_internal_admin",
                "gui_control",
                "read:sessions",
                "write:sessions",
                "read:profiles",
                "write:profiles",
                "admin:profiles",
                "read:webhooks",
                "write:webhooks",
                "admin:webhooks",
                "read:api-keys",
                "admin:api-keys",
                "read:billing",
                "admin:billing",
                "read:audit"
              ]
            }
          },
          "last_used_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "revoked_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "expires_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "name",
          "key_prefix",
          "scopes",
          "last_used_at",
          "revoked_at",
          "expires_at",
          "created_at"
        ]
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^ses_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "account_id": {
            "type": "string",
            "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "api_key_id": {
            "type": "string",
            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "status": {
            "type": "string",
            "enum": ["creating", "ready", "busy", "destroyed", "errored"]
          },
          "archetype": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9_]+$"
          },
          "purpose": {
            "type": "string",
            "enum": ["production_customer", "cumulative_rig_validation", "test_domain_probe"]
          },
          "label": {
            "type": ["string", "null"]
          },
          "metadata": {
            "type": ["object", "null"],
            "additionalProperties": {}
          },
          "egress_capabilities": {
            "type": ["object", "null"],
            "properties": {
              "udp_associate": {
                "type": "boolean"
              },
              "quic_route": {
                "type": "string",
                "enum": ["proxy", "direct", "disabled"]
              },
              "dns_remote_resolve": {
                "type": "boolean"
              },
              "warnings": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "default": []
              }
            },
            "required": ["udp_associate", "quic_route", "dns_remote_resolve"]
          },
          "egress_capability_report": {
            "type": ["object", "null"],
            "additionalProperties": {}
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "last_state_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "destroyed_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "account_id",
          "api_key_id",
          "status",
          "archetype",
          "purpose",
          "label",
          "metadata",
          "egress_capabilities",
          "egress_capability_report",
          "created_at",
          "updated_at",
          "last_state_at",
          "destroyed_at"
        ]
      },
      "AgentSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "driftstack_session_id": {
            "type": ["string", "null"]
          },
          "status": {
            "type": "string"
          },
          "closed_reason": {
            "type": ["string", "null"]
          },
          "token_budget_total": {
            "type": "integer"
          },
          "token_budget_remaining": {
            "type": "integer"
          },
          "transcript_length": {
            "type": "integer"
          },
          "closed_at": {
            "type": ["string", "null"]
          },
          "created_by_user_id": {
            "type": ["string", "null"]
          },
          "mode": {
            "type": "string",
            "enum": ["manual", "ai", "pair"]
          },
          "model": {
            "type": "string",
            "enum": ["claude-opus-4-8", "claude-opus-4-7", "claude-sonnet-4-6", "claude-haiku-4-5"]
          },
          "pair_mode_state": {
            "type": ["object", "null"],
            "properties": {
              "kind": {
                "type": "string"
              }
            },
            "required": ["kind"]
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "livekit": {
            "type": "object",
            "properties": {
              "ws_url": {
                "type": "string",
                "format": "uri"
              },
              "room": {
                "type": "string"
              },
              "token": {
                "type": "string"
              },
              "participant_identity": {
                "type": "string"
              },
              "expires_at": {
                "type": "string"
              }
            },
            "required": ["ws_url", "room", "token", "participant_identity", "expires_at"]
          },
          "liveness": {
            "type": "object",
            "properties": {
              "state": {
                "type": ["string", "null"],
                "enum": ["active", "provisioning", "idle", "terminating", null]
              },
              "fresh": {
                "type": "boolean"
              }
            },
            "required": ["state", "fresh"]
          },
          "capability_report": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "string"
              },
              "manual_input_available": {
                "type": ["boolean", "null"]
              },
              "streaming_state": {
                "type": ["string", "null"],
                "enum": ["provisioning", "live", "blank", "failed", null]
              },
              "egress_state": {
                "type": ["string", "null"],
                "enum": ["live", "dead_proxy", null]
              },
              "proxy_kind": {
                "type": "string",
                "enum": ["socks5", "openvpn", "wireguard"]
              },
              "proxy_udp_supported": {
                "type": "boolean"
              },
              "transport_mode_requested": {
                "type": "string",
                "enum": ["h2-only", "h2-and-h3"]
              },
              "transport_mode_active": {
                "type": "string",
                "enum": ["h2-only", "h2-and-h3"]
              },
              "safeguards_passed": {
                "type": "boolean"
              }
            },
            "required": [
              "timestamp",
              "manual_input_available",
              "streaming_state",
              "egress_state",
              "proxy_kind",
              "proxy_udp_supported",
              "transport_mode_requested",
              "transport_mode_active",
              "safeguards_passed"
            ]
          },
          "error_event": {
            "type": ["object", "null"],
            "properties": {
              "timestamp": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "code": {
                "type": "string",
                "pattern": "^[a-z][a-z0-9_]{0,127}$"
              },
              "severity": {
                "type": "string",
                "enum": ["info", "warn", "error", "fatal"]
              },
              "summary": {
                "type": "string",
                "maxLength": 4096
              },
              "detail": {
                "type": ["string", "null"],
                "maxLength": 16384
              },
              "customer_actionable": {
                "type": "boolean"
              },
              "retryable": {
                "type": "boolean"
              }
            },
            "required": [
              "timestamp",
              "code",
              "severity",
              "summary",
              "detail",
              "customer_actionable",
              "retryable"
            ]
          }
        },
        "required": [
          "id",
          "account_id",
          "driftstack_session_id",
          "status",
          "closed_reason",
          "token_budget_total",
          "token_budget_remaining",
          "transcript_length",
          "closed_at",
          "created_by_user_id",
          "mode",
          "model",
          "pair_mode_state",
          "created_at",
          "updated_at"
        ]
      },
      "AgentIntent": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": ["navigate"]
              },
              "url": {
                "type": "string"
              }
            },
            "required": ["kind", "url"]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": ["interact"]
              },
              "action": {
                "type": "string",
                "enum": ["tap", "type", "scroll", "swipe", "press"]
              },
              "selector": {
                "type": "string"
              },
              "value": {
                "type": "string"
              },
              "sensitive": {
                "type": "boolean"
              }
            },
            "required": ["kind", "action"]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": ["wait"]
              },
              "condition": {
                "type": "string",
                "enum": ["idle", "selector_visible"]
              },
              "selector": {
                "type": "string"
              },
              "timeoutMs": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": ["kind", "condition"]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": ["capture"]
              },
              "capture": {
                "type": "string",
                "enum": ["screenshot", "dom_snapshot", "pdf"]
              }
            },
            "required": ["kind", "capture"]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": ["scroll"]
              },
              "direction": {
                "type": "string",
                "enum": ["up", "down"]
              },
              "amount_px": {
                "type": "integer",
                "exclusiveMinimum": 0
              }
            },
            "required": ["kind", "direction"]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": ["behavioral_pause"]
              },
              "duration_ms": {
                "type": "integer",
                "minimum": 0
              },
              "reading_word_count": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": ["kind"]
          }
        ]
      },
      "IntentResult": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": ["success"]
              },
              "intent": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["navigate"]
                      },
                      "url": {
                        "type": "string"
                      }
                    },
                    "required": ["kind", "url"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["interact"]
                      },
                      "action": {
                        "type": "string",
                        "enum": ["tap", "type", "scroll", "swipe", "press"]
                      },
                      "selector": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "sensitive": {
                        "type": "boolean"
                      }
                    },
                    "required": ["kind", "action"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["wait"]
                      },
                      "condition": {
                        "type": "string",
                        "enum": ["idle", "selector_visible"]
                      },
                      "selector": {
                        "type": "string"
                      },
                      "timeoutMs": {
                        "type": "integer",
                        "minimum": 0
                      }
                    },
                    "required": ["kind", "condition"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["capture"]
                      },
                      "capture": {
                        "type": "string",
                        "enum": ["screenshot", "dom_snapshot", "pdf"]
                      }
                    },
                    "required": ["kind", "capture"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["scroll"]
                      },
                      "direction": {
                        "type": "string",
                        "enum": ["up", "down"]
                      },
                      "amount_px": {
                        "type": "integer",
                        "exclusiveMinimum": 0
                      }
                    },
                    "required": ["kind", "direction"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["behavioral_pause"]
                      },
                      "duration_ms": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "reading_word_count": {
                        "type": "integer",
                        "minimum": 0
                      }
                    },
                    "required": ["kind"]
                  }
                ]
              },
              "summary": {
                "type": "string"
              },
              "captureId": {
                "type": "string"
              }
            },
            "required": ["kind", "intent", "summary"]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": ["failure"]
              },
              "intent": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["navigate"]
                      },
                      "url": {
                        "type": "string"
                      }
                    },
                    "required": ["kind", "url"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["interact"]
                      },
                      "action": {
                        "type": "string",
                        "enum": ["tap", "type", "scroll", "swipe", "press"]
                      },
                      "selector": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "sensitive": {
                        "type": "boolean"
                      }
                    },
                    "required": ["kind", "action"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["wait"]
                      },
                      "condition": {
                        "type": "string",
                        "enum": ["idle", "selector_visible"]
                      },
                      "selector": {
                        "type": "string"
                      },
                      "timeoutMs": {
                        "type": "integer",
                        "minimum": 0
                      }
                    },
                    "required": ["kind", "condition"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["capture"]
                      },
                      "capture": {
                        "type": "string",
                        "enum": ["screenshot", "dom_snapshot", "pdf"]
                      }
                    },
                    "required": ["kind", "capture"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["scroll"]
                      },
                      "direction": {
                        "type": "string",
                        "enum": ["up", "down"]
                      },
                      "amount_px": {
                        "type": "integer",
                        "exclusiveMinimum": 0
                      }
                    },
                    "required": ["kind", "direction"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["behavioral_pause"]
                      },
                      "duration_ms": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "reading_word_count": {
                        "type": "integer",
                        "minimum": 0
                      }
                    },
                    "required": ["kind"]
                  }
                ]
              },
              "reason": {
                "type": "string"
              },
              "diagnosis": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string",
                    "enum": [
                      "element_not_found",
                      "page_load_failed",
                      "condition_not_met",
                      "capture_failed",
                      "scroll_failed",
                      "session_error",
                      "invalid_request",
                      "result_too_large",
                      "unknown"
                    ]
                  },
                  "retryable": {
                    "type": "boolean"
                  }
                },
                "required": ["category", "retryable"]
              }
            },
            "required": ["kind", "intent", "reason"]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": ["confirmation_required"]
              },
              "intent": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["navigate"]
                      },
                      "url": {
                        "type": "string"
                      }
                    },
                    "required": ["kind", "url"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["interact"]
                      },
                      "action": {
                        "type": "string",
                        "enum": ["tap", "type", "scroll", "swipe", "press"]
                      },
                      "selector": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "sensitive": {
                        "type": "boolean"
                      }
                    },
                    "required": ["kind", "action"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["wait"]
                      },
                      "condition": {
                        "type": "string",
                        "enum": ["idle", "selector_visible"]
                      },
                      "selector": {
                        "type": "string"
                      },
                      "timeoutMs": {
                        "type": "integer",
                        "minimum": 0
                      }
                    },
                    "required": ["kind", "condition"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["capture"]
                      },
                      "capture": {
                        "type": "string",
                        "enum": ["screenshot", "dom_snapshot", "pdf"]
                      }
                    },
                    "required": ["kind", "capture"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["scroll"]
                      },
                      "direction": {
                        "type": "string",
                        "enum": ["up", "down"]
                      },
                      "amount_px": {
                        "type": "integer",
                        "exclusiveMinimum": 0
                      }
                    },
                    "required": ["kind", "direction"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": ["behavioral_pause"]
                      },
                      "duration_ms": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "reading_word_count": {
                        "type": "integer",
                        "minimum": 0
                      }
                    },
                    "required": ["kind"]
                  }
                ]
              },
              "category": {
                "type": "string",
                "enum": ["purchase", "payment", "account_deletion"]
              },
              "matchedText": {
                "type": "string"
              }
            },
            "required": ["kind", "intent", "category", "matchedText"]
          }
        ]
      },
      "Recipe": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "agent_session_id": {
            "type": ["string", "null"]
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": ["string", "null"]
          },
          "intent_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "account_id",
          "agent_session_id",
          "label",
          "description",
          "intent_count",
          "created_at",
          "updated_at"
        ]
      },
      "RecipeDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "agent_session_id": {
            "type": ["string", "null"]
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": ["string", "null"]
          },
          "intent_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "intent_log": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": ["navigate"]
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": ["kind", "url"]
                },
                {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": ["interact"]
                    },
                    "action": {
                      "type": "string",
                      "enum": ["tap", "type", "scroll", "swipe", "press"]
                    },
                    "selector": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "sensitive": {
                      "type": "boolean"
                    }
                  },
                  "required": ["kind", "action"]
                },
                {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": ["wait"]
                    },
                    "condition": {
                      "type": "string",
                      "enum": ["idle", "selector_visible"]
                    },
                    "selector": {
                      "type": "string"
                    },
                    "timeoutMs": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": ["kind", "condition"]
                },
                {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": ["capture"]
                    },
                    "capture": {
                      "type": "string",
                      "enum": ["screenshot", "dom_snapshot", "pdf"]
                    }
                  },
                  "required": ["kind", "capture"]
                },
                {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": ["scroll"]
                    },
                    "direction": {
                      "type": "string",
                      "enum": ["up", "down"]
                    },
                    "amount_px": {
                      "type": "integer",
                      "exclusiveMinimum": 0
                    }
                  },
                  "required": ["kind", "direction"]
                },
                {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": ["behavioral_pause"]
                    },
                    "duration_ms": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "reading_word_count": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": ["kind"]
                }
              ]
            }
          }
        },
        "required": [
          "id",
          "account_id",
          "agent_session_id",
          "label",
          "description",
          "intent_count",
          "created_at",
          "updated_at",
          "intent_log"
        ]
      },
      "SessionState": {
        "type": "object",
        "properties": {
          "url": {
            "type": ["string", "null"],
            "format": "uri"
          },
          "title": {
            "type": ["string", "null"]
          },
          "cookies": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "local_storage": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "page_state": {
            "type": ["object", "null"],
            "properties": {
              "state": {
                "type": "string",
                "enum": ["loading", "loaded", "errored"]
              },
              "error": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["http", "tls", "dns", "net", "timeout"]
                  },
                  "http_status": {
                    "type": "integer",
                    "minimum": 100,
                    "maximum": 599
                  },
                  "message": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": ["kind", "message"]
              }
            },
            "default": null,
            "required": ["state"]
          },
          "captured_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": ["url", "title", "cookies", "local_storage", "captured_at"]
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "Stable URI identifying the problem class. Clients switch on this."
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 599
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "required": ["type", "title", "status"],
        "additionalProperties": {},
        "description": "RFC 7807 problem details"
      },
      "UsagePeriodSummary": {
        "type": "object",
        "properties": {
          "period_start": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "period_end": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "tier": {
            "type": "string",
            "enum": [
              "free",
              "solo_manual",
              "team_manual",
              "agency_manual",
              "api_starter",
              "api_builder",
              "api_scale",
              "enterprise"
            ]
          },
          "totals": {
            "type": "object",
            "properties": {
              "session_minute": {
                "type": "integer",
                "minimum": 0
              },
              "navigate": {
                "type": "integer",
                "minimum": 0
              },
              "interact": {
                "type": "integer",
                "minimum": 0
              },
              "wait": {
                "type": "integer",
                "minimum": 0
              },
              "state_capture": {
                "type": "integer",
                "minimum": 0
              },
              "screenshot_capture": {
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "quotas": {
            "type": "object",
            "properties": {
              "session_minute": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "navigate": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "interact": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "wait": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "state_capture": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "screenshot_capture": {
                "type": ["integer", "null"],
                "minimum": 0
              }
            }
          }
        },
        "required": ["period_start", "period_end", "tier", "totals", "quotas"]
      },
      "PaginationQuery": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          "cursor": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512
          }
        }
      },
      "CreateSessionRequest": {
        "type": "object",
        "properties": {
          "archetype": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9_]+$"
          },
          "purpose": {
            "type": "string",
            "enum": ["production_customer", "cumulative_rig_validation", "test_domain_probe"]
          },
          "label": {
            "type": "string",
            "maxLength": 120
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "profile_id": {
            "type": "string"
          },
          "behavioral_profile": {
            "type": "string",
            "enum": ["casual", "regular", "power_user"]
          }
        }
      },
      "CreateSessionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^ses_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "account_id": {
            "type": "string",
            "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "api_key_id": {
            "type": "string",
            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "status": {
            "type": "string",
            "enum": ["creating", "ready", "busy", "destroyed", "errored"]
          },
          "archetype": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9_]+$"
          },
          "purpose": {
            "type": "string",
            "enum": ["production_customer", "cumulative_rig_validation", "test_domain_probe"]
          },
          "label": {
            "type": ["string", "null"]
          },
          "metadata": {
            "type": ["object", "null"],
            "additionalProperties": {}
          },
          "egress_capabilities": {
            "type": ["object", "null"],
            "properties": {
              "udp_associate": {
                "type": "boolean"
              },
              "quic_route": {
                "type": "string",
                "enum": ["proxy", "direct", "disabled"]
              },
              "dns_remote_resolve": {
                "type": "boolean"
              },
              "warnings": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "default": []
              }
            },
            "required": ["udp_associate", "quic_route", "dns_remote_resolve"]
          },
          "egress_capability_report": {
            "type": ["object", "null"],
            "additionalProperties": {}
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "last_state_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "destroyed_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "account_id",
          "api_key_id",
          "status",
          "archetype",
          "purpose",
          "label",
          "metadata",
          "egress_capabilities",
          "egress_capability_report",
          "created_at",
          "updated_at",
          "last_state_at",
          "destroyed_at"
        ]
      },
      "NavigateRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "timeout_ms": {
            "type": "integer",
            "minimum": 1000,
            "maximum": 120000
          },
          "wait_until": {
            "type": "string",
            "enum": ["load", "domcontentloaded", "networkidle"],
            "default": "load"
          }
        },
        "required": ["url"]
      },
      "NavigateResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 599
          },
          "final_url": {
            "type": "string",
            "format": "uri"
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": ["url", "status", "final_url", "duration_ms"]
      },
      "InteractRequest": {
        "type": "object",
        "properties": {
          "action": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["tap"]
                  },
                  "selector": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["kind", "selector"]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["type"]
                  },
                  "selector": {
                    "type": "string",
                    "minLength": 1
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 10000
                  },
                  "delay_ms": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 500
                  },
                  "sensitive": {
                    "type": "boolean"
                  }
                },
                "required": ["kind", "selector", "text"]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["scroll"]
                  },
                  "selector": {
                    "type": "string",
                    "minLength": 1
                  },
                  "delta_x": {
                    "type": "integer",
                    "default": 0
                  },
                  "delta_y": {
                    "type": "integer",
                    "default": 0
                  }
                },
                "required": ["kind"]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["press"]
                  },
                  "key": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20
                  }
                },
                "required": ["kind", "key"]
              }
            ]
          },
          "timeout_ms": {
            "type": "integer",
            "minimum": 100,
            "maximum": 60000
          }
        },
        "required": ["action"]
      },
      "InteractResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [true]
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": ["ok", "duration_ms"]
      },
      "WaitRequest": {
        "type": "object",
        "properties": {
          "condition": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["selector"]
                  },
                  "selector": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["kind", "selector"]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["selector_hidden"]
                  },
                  "selector": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["kind", "selector"]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["url_matches"]
                  },
                  "pattern": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["kind", "pattern"]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["time"]
                  },
                  "ms": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 60000
                  }
                },
                "required": ["kind", "ms"]
              }
            ]
          },
          "timeout_ms": {
            "type": "integer",
            "minimum": 100,
            "maximum": 120000
          }
        },
        "required": ["condition"]
      },
      "WaitResponse": {
        "type": "object",
        "properties": {
          "satisfied": {
            "type": "boolean"
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": ["satisfied", "duration_ms"]
      },
      "CaptureRequest": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": ["screenshot", "dom_snapshot", "pdf"]
          },
          "full_page": {
            "type": "boolean",
            "default": false
          }
        },
        "required": ["kind"]
      },
      "CaptureResponse": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": ["screenshot", "dom_snapshot", "pdf"]
          },
          "data": {
            "type": "string"
          },
          "encoding": {
            "type": "string",
            "enum": ["base64", "utf8"]
          },
          "byte_size": {
            "type": "integer",
            "minimum": 0
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": ["kind", "data", "encoding", "byte_size", "duration_ms"]
      },
      "ExtractRequest": {
        "type": "object",
        "properties": {
          "extractions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "selector": {
                  "type": "string",
                  "minLength": 1
                },
                "type": {
                  "type": "string",
                  "enum": ["text", "attribute", "list"]
                },
                "attribute": {
                  "type": "string"
                },
                "transform": {
                  "type": "string",
                  "enum": ["number"]
                },
                "extract": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": ["text", "attribute"]
                      },
                      "attribute": {
                        "type": "string"
                      },
                      "selector": {
                        "type": "string"
                      }
                    },
                    "required": ["type"]
                  }
                }
              },
              "required": ["name", "selector", "type"]
            },
            "minItems": 1,
            "maxItems": 100
          }
        },
        "required": ["extractions"]
      },
      "ExtractResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": ["value"]
      },
      "SearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000
          },
          "search_selector": {
            "type": "string",
            "minLength": 1,
            "maxLength": 262144
          },
          "submit": {
            "type": "boolean",
            "default": true
          },
          "wait_for_results_selector": {
            "type": "string",
            "minLength": 1,
            "maxLength": 262144
          },
          "timeout_seconds": {
            "type": "integer",
            "minimum": 1,
            "maximum": 120
          }
        },
        "required": ["query"]
      },
      "SearchResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "submitted": {
                "type": "boolean"
              },
              "query_truncated": {
                "type": "boolean",
                "enum": [false]
              },
              "results_visible": {
                "type": "boolean"
              },
              "duration_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 600000
              }
            },
            "required": ["submitted", "query_truncated", "duration_ms"],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "submitted": {
                "type": "boolean",
                "enum": [false]
              },
              "query_truncated": {
                "type": "boolean",
                "enum": [true]
              },
              "duration_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 600000
              }
            },
            "required": ["submitted", "query_truncated", "duration_ms"],
            "additionalProperties": false
          }
        ]
      },
      "SessionLoginRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000
          },
          "password": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000
          },
          "username_selector": {
            "type": "string",
            "minLength": 1,
            "maxLength": 262144
          },
          "password_selector": {
            "type": "string",
            "minLength": 1,
            "maxLength": 262144
          },
          "submit_selector": {
            "type": "string",
            "minLength": 1,
            "maxLength": 262144
          },
          "success_selector": {
            "type": "string",
            "minLength": 1,
            "maxLength": 262144
          },
          "timeout_seconds": {
            "type": "integer",
            "minimum": 1,
            "maximum": 120
          }
        },
        "required": ["username", "password"]
      },
      "SessionLoginResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "submitted": {
                "type": "boolean",
                "enum": [true]
              },
              "credentials_truncated": {
                "type": "boolean",
                "enum": [false]
              },
              "logged_in": {
                "type": "boolean"
              },
              "post_login_url": {
                "type": "string"
              },
              "duration_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 600000
              }
            },
            "required": ["submitted", "credentials_truncated", "logged_in", "duration_ms"],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "submitted": {
                "type": "boolean",
                "enum": [false]
              },
              "credentials_truncated": {
                "type": "boolean",
                "enum": [true]
              },
              "logged_in": {
                "type": "boolean",
                "enum": [false]
              },
              "duration_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 600000
              }
            },
            "required": ["submitted", "credentials_truncated", "logged_in", "duration_ms"],
            "additionalProperties": false
          }
        ]
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "read",
                "write",
                "admin",
                "account_owner",
                "driftstack_internal_admin",
                "gui_control",
                "read:sessions",
                "write:sessions",
                "read:profiles",
                "write:profiles",
                "admin:profiles",
                "read:webhooks",
                "write:webhooks",
                "admin:webhooks",
                "read:api-keys",
                "admin:api-keys",
                "read:billing",
                "admin:billing",
                "read:audit"
              ]
            },
            "minItems": 1,
            "maxItems": 19
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": ["name", "scopes"]
      },
      "CreateApiKeyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "read",
                "write",
                "admin",
                "account_owner",
                "driftstack_internal_admin",
                "gui_control",
                "read:sessions",
                "write:sessions",
                "read:profiles",
                "write:profiles",
                "admin:profiles",
                "read:webhooks",
                "write:webhooks",
                "admin:webhooks",
                "read:api-keys",
                "admin:api-keys",
                "read:billing",
                "admin:billing",
                "read:audit"
              ]
            }
          },
          "last_used_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "revoked_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "expires_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "plaintext": {
            "type": "string",
            "description": "The plaintext key. Shown once at creation; not retrievable later."
          }
        },
        "required": [
          "id",
          "name",
          "key_prefix",
          "scopes",
          "last_used_at",
          "revoked_at",
          "expires_at",
          "created_at",
          "plaintext"
        ]
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^whk_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secret_prefix": {
            "type": "string"
          },
          "prev_secret_prefix": {
            "type": ["string", "null"]
          },
          "rotation_grace_expires_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "session.completed",
                "session.failed",
                "api_key.revoked",
                "session.egress_capability_changed",
                "crypto.order.paid",
                "crypto.order.failed",
                "session.challenge_detected",
                "session.profile_save_failed"
              ]
            }
          },
          "description": {
            "type": ["string", "null"]
          },
          "active": {
            "type": "boolean"
          },
          "consecutive_failures": {
            "type": "integer",
            "minimum": 0
          },
          "last_success_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "last_failure_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "disabled_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "delivery_counts": {
            "type": "object",
            "properties": {
              "delivered": {
                "type": "integer",
                "minimum": 0
              },
              "failed": {
                "type": "integer",
                "minimum": 0
              },
              "dlq": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": ["delivered", "failed", "dlq"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "url",
          "secret_prefix",
          "prev_secret_prefix",
          "rotation_grace_expires_at",
          "events",
          "description",
          "active",
          "consecutive_failures",
          "last_success_at",
          "last_failure_at",
          "disabled_at",
          "delivery_counts",
          "created_at"
        ]
      },
      "CreateWebhookRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "session.completed",
                "session.failed",
                "api_key.revoked",
                "session.egress_capability_changed",
                "crypto.order.paid",
                "crypto.order.failed",
                "session.challenge_detected",
                "session.profile_save_failed"
              ]
            },
            "minItems": 1,
            "maxItems": 10
          },
          "description": {
            "type": ["string", "null"],
            "maxLength": 200
          }
        },
        "required": ["url", "events"]
      },
      "CreateWebhookResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^whk_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secret_prefix": {
            "type": "string"
          },
          "prev_secret_prefix": {
            "type": ["string", "null"]
          },
          "rotation_grace_expires_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "session.completed",
                "session.failed",
                "api_key.revoked",
                "session.egress_capability_changed",
                "crypto.order.paid",
                "crypto.order.failed",
                "session.challenge_detected",
                "session.profile_save_failed"
              ]
            }
          },
          "description": {
            "type": ["string", "null"]
          },
          "active": {
            "type": "boolean"
          },
          "consecutive_failures": {
            "type": "integer",
            "minimum": 0
          },
          "last_success_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "last_failure_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "disabled_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "delivery_counts": {
            "type": "object",
            "properties": {
              "delivered": {
                "type": "integer",
                "minimum": 0
              },
              "failed": {
                "type": "integer",
                "minimum": 0
              },
              "dlq": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": ["delivered", "failed", "dlq"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "secret": {
            "type": "string",
            "description": "Plaintext signing secret. Returned ONCE; not retrievable later."
          }
        },
        "required": [
          "id",
          "url",
          "secret_prefix",
          "prev_secret_prefix",
          "rotation_grace_expires_at",
          "events",
          "description",
          "active",
          "consecutive_failures",
          "last_success_at",
          "last_failure_at",
          "disabled_at",
          "delivery_counts",
          "created_at",
          "secret"
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^wdl_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "webhook_id": {
            "type": "string",
            "pattern": "^whk_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "event_id": {
            "type": "string",
            "format": "uuid"
          },
          "event_type": {
            "type": "string",
            "enum": [
              "session.completed",
              "session.failed",
              "api_key.revoked",
              "session.egress_capability_changed",
              "test.ping",
              "crypto.order.paid",
              "crypto.order.failed",
              "session.challenge_detected",
              "session.profile_save_failed"
            ]
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in_flight", "delivered", "failed", "dlq"]
          },
          "attempts": {
            "type": "integer",
            "minimum": 0
          },
          "next_attempt_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "last_response_status": {
            "type": ["integer", "null"]
          },
          "last_response_excerpt": {
            "type": ["string", "null"]
          },
          "last_error": {
            "type": ["string", "null"]
          },
          "delivered_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "webhook_id",
          "event_id",
          "event_type",
          "status",
          "attempts",
          "next_attempt_at",
          "last_response_status",
          "last_response_excerpt",
          "last_error",
          "delivered_at",
          "created_at"
        ]
      },
      "ListDeliveriesQuery": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          "cursor": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in_flight", "delivered", "failed", "dlq"]
          }
        }
      },
      "AdminAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": ["string", "null"]
          },
          "tier": {
            "type": "string",
            "enum": [
              "free",
              "solo_manual",
              "team_manual",
              "agency_manual",
              "api_starter",
              "api_builder",
              "api_scale",
              "enterprise"
            ]
          },
          "status": {
            "type": "string",
            "enum": ["active", "suspended", "deleted"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": ["id", "email", "name", "tier", "status", "created_at", "updated_at"]
      },
      "AdminAuditLogEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "admin_account_id": {
            "type": "string"
          },
          "admin_key_id": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": [
              "account.tier_changed",
              "account.suspended",
              "account.unsuspended",
              "webhook_delivery.replayed",
              "webhook_delivery.requeued",
              "webhook_delivery.discarded",
              "rate_limit_override.set",
              "rate_limit_override.cleared",
              "session.destroyed_by_admin",
              "api_key.revoked_by_admin",
              "audit_note.added",
              "refund.recorded",
              "incident.created",
              "incident.updated",
              "incident.resolved",
              "incident.reopened",
              "status_subscriber.force_unsubscribed",
              "status_subscriber.purged",
              "status_subscriber.force_subscribed",
              "mac_node.livekit_registered",
              "mac_node.control",
              "pricing.updated",
              "secret.created",
              "secret.updated",
              "secret.deleted",
              "secret.revealed",
              "crypto_order.swept",
              "crypto_order.ipn_applied",
              "crypto_order.note_updated",
              "validation_schedule.upserted",
              "validation_schedule.removed",
              "validation_schedule.triggered",
              "account.deleted"
            ]
          },
          "target_account_id": {
            "type": ["string", "null"]
          },
          "target_resource_id": {
            "type": ["string", "null"]
          },
          "input_payload": {
            "type": ["object", "null"],
            "additionalProperties": {}
          },
          "result": {
            "type": "string"
          },
          "ip_address": {
            "type": ["string", "null"]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "admin_account_id",
          "admin_key_id",
          "action",
          "target_account_id",
          "target_resource_id",
          "input_payload",
          "result",
          "ip_address",
          "timestamp"
        ]
      },
      "GetBillingStateResponse": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": ["object", "null"],
            "properties": {
              "tier": {
                "type": "string",
                "enum": [
                  "free",
                  "solo_manual",
                  "team_manual",
                  "agency_manual",
                  "api_starter",
                  "api_builder",
                  "api_scale",
                  "enterprise"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "incomplete",
                  "incomplete_expired",
                  "trialing",
                  "active",
                  "past_due",
                  "canceled",
                  "unpaid",
                  "paused"
                ]
              },
              "stripe_subscription_id": {
                "type": "string"
              },
              "current_period_end": {
                "type": ["string", "null"],
                "format": "date-time",
                "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
              },
              "cancel_at_period_end": {
                "type": "boolean"
              },
              "canceled_at": {
                "type": ["string", "null"],
                "format": "date-time",
                "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
              }
            },
            "required": [
              "tier",
              "status",
              "stripe_subscription_id",
              "current_period_end",
              "cancel_at_period_end",
              "canceled_at",
              "created_at",
              "updated_at"
            ]
          }
        },
        "required": ["subscription"]
      },
      "RotateApiKeyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "read",
                "write",
                "admin",
                "account_owner",
                "driftstack_internal_admin",
                "gui_control",
                "read:sessions",
                "write:sessions",
                "read:profiles",
                "write:profiles",
                "admin:profiles",
                "read:webhooks",
                "write:webhooks",
                "admin:webhooks",
                "read:api-keys",
                "admin:api-keys",
                "read:billing",
                "admin:billing",
                "read:audit"
              ]
            }
          },
          "last_used_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "revoked_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "expires_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "plaintext": {
            "type": "string",
            "description": "The plaintext key. Shown once at creation; not retrievable later."
          },
          "rotated_from": {
            "type": "string"
          },
          "grace_period_ends_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "key_prefix",
          "scopes",
          "last_used_at",
          "revoked_at",
          "expires_at",
          "created_at",
          "plaintext",
          "rotated_from",
          "grace_period_ends_at"
        ]
      },
      "RotateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "TeamInviteRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": ["member", "admin"]
          }
        },
        "required": ["email"]
      },
      "TeamInvite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefixed invite id (inv_<uuid>)"
          },
          "owner_account_id": {
            "type": "string"
          },
          "invitee_email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["member", "admin"]
          },
          "expires_at": {
            "type": "string"
          },
          "invited_by_account_id": {
            "type": ["string", "null"]
          },
          "accepted_at": {
            "type": ["string", "null"]
          },
          "created_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "owner_account_id",
          "invitee_email",
          "role",
          "expires_at",
          "invited_by_account_id",
          "accepted_at",
          "created_at"
        ]
      },
      "TeamMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefixed membership id (mem_<uuid>)"
          },
          "owner_account_id": {
            "type": "string"
          },
          "member_account_id": {
            "type": "string"
          },
          "member_email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["member", "admin"]
          },
          "invited_at": {
            "type": "string"
          },
          "accepted_at": {
            "type": "string"
          },
          "invited_by_account_id": {
            "type": ["string", "null"]
          }
        },
        "required": [
          "id",
          "owner_account_id",
          "member_account_id",
          "member_email",
          "role",
          "invited_at",
          "accepted_at",
          "invited_by_account_id"
        ]
      },
      "TeamAcceptRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "minLength": 20
          }
        },
        "required": ["token"]
      },
      "TeamOwner": {
        "type": "object",
        "properties": {
          "owner_account_id": {
            "type": "string"
          },
          "owner_email": {
            "type": "string"
          },
          "owner_name": {
            "type": ["string", "null"]
          },
          "role": {
            "type": "string",
            "enum": ["member", "admin"]
          },
          "membership_id": {
            "type": "string"
          }
        },
        "required": ["owner_account_id", "owner_email", "owner_name", "role", "membership_id"]
      },
      "UploadAvatarResponse": {
        "type": "object",
        "properties": {
          "avatar_url": {
            "type": ["string", "null"]
          },
          "content_type": {
            "type": "string",
            "enum": ["image/png", "image/jpeg", "image/webp"]
          },
          "bytes": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": ["avatar_url", "content_type", "bytes"]
      },
      "ByokAnthropicMetadata": {
        "type": "object",
        "properties": {
          "has_key": {
            "type": "boolean"
          },
          "set_at": {
            "type": ["string", "null"]
          },
          "last_used_at": {
            "type": ["string", "null"]
          }
        },
        "required": ["has_key", "set_at", "last_used_at"]
      },
      "PutByokAnthropicResponse": {
        "type": "object",
        "properties": {
          "set_at": {
            "type": "string"
          }
        },
        "required": ["set_at"]
      },
      "PutByokAnthropicRequest": {
        "type": "object",
        "properties": {
          "api_key": {
            "type": "string",
            "minLength": 1,
            "description": "Plaintext Anthropic API key. Never echoed back."
          }
        },
        "required": ["api_key"]
      },
      "BundledLlmSettings": {
        "type": "object",
        "properties": {
          "consent": {
            "type": "boolean"
          },
          "monthly_cap_usd_cents": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000000
          }
        },
        "required": ["consent", "monthly_cap_usd_cents"]
      },
      "PatchBundledLlmRequest": {
        "type": "object",
        "properties": {
          "consent": {
            "type": "boolean"
          },
          "monthly_cap_usd_cents": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000000
          }
        },
        "description": "At least one of consent / monthly_cap_usd_cents must be present."
      },
      "AccountOrganization": {
        "type": "object",
        "properties": {
          "folders": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "icon": {
                  "type": "string"
                }
              },
              "required": ["name"]
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["folders", "tags"]
      },
      "AccountProxyMetadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "scheme": {
            "type": "string",
            "enum": ["socks5", "http", "openvpn", "wireguard"]
          },
          "host": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "username": {
            "type": ["string", "null"]
          },
          "has_password": {
            "type": "boolean"
          },
          "has_secret": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "label",
          "scheme",
          "host",
          "port",
          "username",
          "has_password",
          "has_secret",
          "created_at",
          "updated_at"
        ]
      },
      "AccountProxyList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountProxyMetadata"
            }
          }
        },
        "required": ["data"]
      },
      "AccountProxyInput": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "scheme": {
            "type": "string",
            "enum": ["socks5", "http", "openvpn", "wireguard"]
          },
          "host": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "username": {
            "type": ["string", "null"]
          },
          "password": {
            "type": ["string", "null"]
          },
          "openvpn": {
            "type": "object",
            "properties": {
              "config_blob": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "password": {
                "type": "string"
              }
            },
            "required": ["config_blob"]
          },
          "wireguard": {
            "type": "object",
            "properties": {
              "private_key": {
                "type": "string"
              },
              "peer_public_key": {
                "type": "string"
              },
              "endpoint": {
                "type": "string"
              },
              "allowed_ips": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "dns": {
                "type": "string"
              }
            },
            "required": ["private_key", "peer_public_key", "endpoint"]
          }
        },
        "required": ["label", "host", "port"]
      },
      "AccountProxyTestResult": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "ok": {
                "type": "boolean",
                "enum": [true]
              },
              "latency_ms": {
                "type": "integer"
              }
            },
            "required": ["ok", "latency_ms"]
          },
          {
            "type": "object",
            "properties": {
              "ok": {
                "type": "boolean",
                "enum": [false]
              },
              "reason": {
                "type": "string"
              }
            },
            "required": ["ok", "reason"]
          }
        ]
      },
      "BundledLlmStatus": {
        "type": "object",
        "properties": {
          "consent": {
            "type": "boolean"
          },
          "cap_cents": {
            "type": "integer",
            "minimum": 0
          },
          "used_this_month_cents": {
            "type": "integer",
            "minimum": 0
          },
          "remaining_cents": {
            "type": "integer",
            "minimum": 0
          },
          "refused_count_this_month": {
            "type": "integer",
            "minimum": 0
          },
          "month_started_at": {
            "type": "string"
          }
        },
        "required": [
          "consent",
          "cap_cents",
          "used_this_month_cents",
          "remaining_cents",
          "refused_count_this_month",
          "month_started_at"
        ]
      },
      "AccountAuditEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "account_id": {
            "type": "string"
          },
          "actor_type": {
            "type": "string",
            "enum": ["customer", "system", "staff"]
          },
          "actor_account_id": {
            "type": ["string", "null"]
          },
          "actor_key_id": {
            "type": ["string", "null"]
          },
          "action": {
            "type": "string"
          },
          "target_resource_id": {
            "type": ["string", "null"]
          },
          "payload": {
            "type": ["object", "null"],
            "additionalProperties": {}
          },
          "ip_address": {
            "type": ["string", "null"]
          },
          "user_agent": {
            "type": ["string", "null"]
          },
          "timestamp": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "account_id",
          "actor_type",
          "actor_account_id",
          "actor_key_id",
          "action",
          "target_resource_id",
          "payload",
          "ip_address",
          "user_agent",
          "timestamp"
        ]
      },
      "ListAccountAuditResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountAuditEntry"
            }
          },
          "next_cursor": {
            "type": ["string", "null"]
          }
        },
        "required": ["data", "next_cursor"]
      },
      "ExportAccountAuditResponse": {
        "type": "object",
        "properties": {
          "generated_at": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "row_count": {
            "type": "integer",
            "minimum": 0
          },
          "truncated": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountAuditEntry"
            }
          }
        },
        "required": ["generated_at", "account_id", "row_count", "truncated", "data"]
      },
      "BillingCycle": {
        "type": "string",
        "pattern": "^\\d{4}-(?:0[1-9]|1[0-2])$",
[...]
