{
  "openapi": "3.1.0",
  "info": {
    "title": "Driftstack API",
    "version": "0.0.1",
    "description": "Driftstack API — stealth iPhone Safari automation. Pre-launch contract; subject to change.\n\n## Team RBAC: X-Driftstack-Account header (V-326e)\n\nMembers of a team can scope any /v1/* request to the OWNER's resources by passing\nthe `X-Driftstack-Account: acc_<owner-uuid>` request header. The server validates that\nthe calling account is on the team referenced by the header.\n\n- Read endpoints (GET): both `member` and `admin` roles allowed.\n- Write endpoints (POST / PATCH / DELETE / api-keys rotate): `admin` role only;\n  `member` role gets 403.\n\nEndpoints honoring the header: /v1/sessions (+ all session sub-paths), /v1/profiles,\n/v1/api-keys (+ /:id/rotate), /v1/webhooks (+ /:id/deliveries + replay),\n/v1/account/audit-log (+ export), /v1/account/email-preferences, /v1/usage,\n/v1/usage/series.\n\nEndpoints that do NOT honor the header: /v1/team/*, /v1/account/me (always\nreturns the caller's own profile + their team list), /v1/auth/*.\n\nSee `docs.driftstack.dev/api/team` for full details.",
    "license": {
      "name": "MIT"
    },
    "contact": {
      "name": "Driftstack",
      "url": "https://github.com/driftstackdev/driftstack-api"
    }
  },
  "servers": [
    {
      "url": "https://api.driftstack.dev",
      "description": "Production (placeholder)"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": ["string", "null"]
          },
          "tier": {
            "type": "string",
            "enum": [
              "trial_pack",
              "solo_manual",
              "team_manual",
              "agency_manual",
              "api_starter",
              "api_builder",
              "api_scale",
              "enterprise"
            ]
          },
          "status": {
            "type": "string",
            "enum": ["active", "suspended", "deleted"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": ["id", "email", "name", "tier", "status", "created_at", "updated_at"]
      },
      "AccountMeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": ["string", "null"]
          },
          "tier": {
            "type": "string",
            "enum": [
              "trial_pack",
              "solo_manual",
              "team_manual",
              "agency_manual",
              "api_starter",
              "api_builder",
              "api_scale",
              "enterprise"
            ]
          },
          "status": {
            "type": "string",
            "enum": ["active", "suspended", "deleted"]
          },
          "timezone": {
            "type": ["string", "null"]
          },
          "slug": {
            "type": ["string", "null"]
          },
          "region": {
            "type": ["string", "null"],
            "enum": ["us", "eu", "apac"]
          },
          "avatar_url": {
            "type": ["string", "null"]
          },
          "mfa_enrolled": {
            "type": "boolean"
          },
          "concurrent_session_cap": {
            "type": "integer",
            "minimum": 0
          },
          "concurrent_session_active": {
            "type": "integer",
            "minimum": 0
          },
          "profile_cap": {
            "type": ["integer", "null"],
            "minimum": 0
          },
          "profile_count": {
            "type": "integer",
            "minimum": 0
          },
          "teams": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "owner_account_id": {
                  "type": "string"
                },
                "role": {
                  "type": "string",
                  "enum": ["admin", "member"]
                },
                "membership_id": {
                  "type": "string"
                }
              },
              "required": ["owner_account_id", "role", "membership_id"]
            }
          }
        },
        "required": [
          "id",
          "email",
          "name",
          "tier",
          "status",
          "timezone",
          "slug",
          "region",
          "avatar_url",
          "mfa_enrolled",
          "concurrent_session_cap",
          "concurrent_session_active",
          "profile_cap",
          "profile_count",
          "teams"
        ]
      },
      "UpdateAccountMeRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 120
          },
          "timezone": {
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[A-Za-z]+(?:\\/[A-Za-z0-9_+-]+)+$"
          },
          "slug": {
            "type": ["string", "null"],
            "minLength": 3,
            "maxLength": 32,
            "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
          },
          "region": {
            "type": ["string", "null"],
            "enum": ["us", "eu", "apac"]
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "read",
                "write",
                "admin",
                "account_owner",
                "driftstack_internal_admin",
                "gui_control"
              ]
            }
          },
          "last_used_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "revoked_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "expires_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "name",
          "key_prefix",
          "scopes",
          "last_used_at",
          "revoked_at",
          "expires_at",
          "created_at"
        ]
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^ses_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "account_id": {
            "type": "string",
            "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "api_key_id": {
            "type": "string",
            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "status": {
            "type": "string",
            "enum": ["creating", "ready", "busy", "destroyed", "errored"]
          },
          "archetype": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9_]+$"
          },
          "purpose": {
            "type": "string",
            "enum": ["production_customer", "cumulative_rig_validation", "test_domain_probe"]
          },
          "label": {
            "type": ["string", "null"]
          },
          "metadata": {
            "type": ["object", "null"],
            "additionalProperties": {}
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "last_state_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "destroyed_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "account_id",
          "api_key_id",
          "status",
          "archetype",
          "purpose",
          "label",
          "metadata",
          "created_at",
          "updated_at",
          "last_state_at",
          "destroyed_at"
        ]
      },
      "SessionState": {
        "type": "object",
        "properties": {
          "url": {
            "type": ["string", "null"],
            "format": "uri"
          },
          "title": {
            "type": ["string", "null"]
          },
          "cookies": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "local_storage": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "captured_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": ["url", "title", "cookies", "local_storage", "captured_at"]
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "Stable URI identifying the problem class. Clients switch on this."
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 599
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "required": ["type", "title", "status"],
        "additionalProperties": {},
        "description": "RFC 7807 problem details"
      },
      "UsagePeriodSummary": {
        "type": "object",
        "properties": {
          "period_start": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "period_end": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "tier": {
            "type": "string",
            "enum": [
              "trial_pack",
              "solo_manual",
              "team_manual",
              "agency_manual",
              "api_starter",
              "api_builder",
              "api_scale",
              "enterprise"
            ]
          },
          "totals": {
            "type": "object",
            "properties": {
              "session_minute": {
                "type": "integer",
                "minimum": 0
              },
              "navigate": {
                "type": "integer",
                "minimum": 0
              },
              "interact": {
                "type": "integer",
                "minimum": 0
              },
              "wait": {
                "type": "integer",
                "minimum": 0
              },
              "state_capture": {
                "type": "integer",
                "minimum": 0
              },
              "screenshot_capture": {
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "quotas": {
            "type": "object",
            "properties": {
              "session_minute": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "navigate": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "interact": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "wait": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "state_capture": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "screenshot_capture": {
                "type": ["integer", "null"],
                "minimum": 0
              }
            }
          }
        },
        "required": ["period_start", "period_end", "tier", "totals", "quotas"]
      },
      "PaginationQuery": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          "cursor": {
            "type": "string"
          }
        }
      },
      "CreateSessionRequest": {
        "type": "object",
        "properties": {
          "archetype": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9_]+$"
          },
          "purpose": {
            "type": "string",
            "enum": ["production_customer", "cumulative_rig_validation", "test_domain_probe"]
          },
          "label": {
            "type": "string",
            "maxLength": 120
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "CreateSessionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^ses_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "account_id": {
            "type": "string",
            "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "api_key_id": {
            "type": "string",
            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "status": {
            "type": "string",
            "enum": ["creating", "ready", "busy", "destroyed", "errored"]
          },
          "archetype": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9_]+$"
          },
          "purpose": {
            "type": "string",
            "enum": ["production_customer", "cumulative_rig_validation", "test_domain_probe"]
          },
          "label": {
            "type": ["string", "null"]
          },
          "metadata": {
            "type": ["object", "null"],
            "additionalProperties": {}
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "last_state_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "destroyed_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "account_id",
          "api_key_id",
          "status",
          "archetype",
          "purpose",
          "label",
          "metadata",
          "created_at",
          "updated_at",
          "last_state_at",
          "destroyed_at"
        ]
      },
      "NavigateRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "timeout_ms": {
            "type": "integer",
            "minimum": 1000,
            "maximum": 120000
          },
          "wait_until": {
            "type": "string",
            "enum": ["load", "domcontentloaded", "networkidle"],
            "default": "load"
          }
        },
        "required": ["url"]
      },
      "NavigateResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 599
          },
          "final_url": {
            "type": "string",
            "format": "uri"
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": ["url", "status", "final_url", "duration_ms"]
      },
      "InteractRequest": {
        "type": "object",
        "properties": {
          "action": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["tap"]
                  },
                  "selector": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["kind", "selector"]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["type"]
                  },
                  "selector": {
                    "type": "string",
                    "minLength": 1
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 10000
                  },
                  "delay_ms": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 500
                  }
                },
                "required": ["kind", "selector", "text"]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["scroll"]
                  },
                  "selector": {
                    "type": "string",
                    "minLength": 1
                  },
                  "delta_x": {
                    "type": "integer",
                    "default": 0
                  },
                  "delta_y": {
                    "type": "integer",
                    "default": 0
                  }
                },
                "required": ["kind"]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["press"]
                  },
                  "key": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20
                  }
                },
                "required": ["kind", "key"]
              }
            ]
          },
          "timeout_ms": {
            "type": "integer",
            "minimum": 100,
            "maximum": 60000
          }
        },
        "required": ["action"]
      },
      "InteractResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [true]
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": ["ok", "duration_ms"]
      },
      "WaitRequest": {
        "type": "object",
        "properties": {
          "condition": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["selector"]
                  },
                  "selector": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["kind", "selector"]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["selector_hidden"]
                  },
                  "selector": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["kind", "selector"]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["url_matches"]
                  },
                  "pattern": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["kind", "pattern"]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["time"]
                  },
                  "ms": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 60000
                  }
                },
                "required": ["kind", "ms"]
              }
            ]
          },
          "timeout_ms": {
            "type": "integer",
            "minimum": 100,
            "maximum": 120000
          }
        },
        "required": ["condition"]
      },
      "WaitResponse": {
        "type": "object",
        "properties": {
          "satisfied": {
            "type": "boolean"
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": ["satisfied", "duration_ms"]
      },
      "CaptureRequest": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": ["screenshot", "dom_snapshot", "pdf"]
          },
          "full_page": {
            "type": "boolean",
            "default": false
          }
        },
        "required": ["kind"]
      },
      "CaptureResponse": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": ["screenshot", "dom_snapshot", "pdf"]
          },
          "data": {
            "type": "string"
          },
          "encoding": {
            "type": "string",
            "enum": ["base64", "utf8"]
          },
          "byte_size": {
            "type": "integer",
            "minimum": 0
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": ["kind", "data", "encoding", "byte_size", "duration_ms"]
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "read",
                "write",
                "admin",
                "account_owner",
                "driftstack_internal_admin",
                "gui_control"
              ]
            },
            "minItems": 1
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": ["name", "scopes"]
      },
      "CreateApiKeyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "read",
                "write",
                "admin",
                "account_owner",
                "driftstack_internal_admin",
                "gui_control"
              ]
            }
          },
          "last_used_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "revoked_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "expires_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "plaintext": {
            "type": "string",
            "description": "The plaintext key. Shown once at creation; not retrievable later."
          }
        },
        "required": [
          "id",
          "name",
          "key_prefix",
          "scopes",
          "last_used_at",
          "revoked_at",
          "expires_at",
          "created_at",
          "plaintext"
        ]
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^whk_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secret_prefix": {
            "type": "string"
          },
          "prev_secret_prefix": {
            "type": ["string", "null"]
          },
          "rotation_grace_expires_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "session.completed",
                "session.failed",
                "quota.warning_80pct",
                "quota.exceeded",
                "api_key.revoked",
                "test.ping"
              ]
            }
          },
          "description": {
            "type": ["string", "null"]
          },
          "active": {
            "type": "boolean"
          },
          "consecutive_failures": {
            "type": "integer",
            "minimum": 0
          },
          "last_success_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "last_failure_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "disabled_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "delivery_counts": {
            "type": "object",
            "properties": {
              "delivered": {
                "type": "integer",
                "minimum": 0
              },
              "failed": {
                "type": "integer",
                "minimum": 0
              },
              "dlq": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": ["delivered", "failed", "dlq"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "url",
          "secret_prefix",
          "prev_secret_prefix",
          "rotation_grace_expires_at",
          "events",
          "description",
          "active",
          "consecutive_failures",
          "last_success_at",
          "last_failure_at",
          "disabled_at",
          "delivery_counts",
          "created_at"
        ]
      },
      "CreateWebhookRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "session.completed",
                "session.failed",
                "quota.warning_80pct",
                "quota.exceeded",
                "api_key.revoked"
              ]
            },
            "minItems": 1,
            "maxItems": 10
          },
          "description": {
            "type": "string",
            "maxLength": 200
          }
        },
        "required": ["url", "events"]
      },
      "CreateWebhookResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^whk_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secret_prefix": {
            "type": "string"
          },
          "prev_secret_prefix": {
            "type": ["string", "null"]
          },
          "rotation_grace_expires_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "session.completed",
                "session.failed",
                "quota.warning_80pct",
                "quota.exceeded",
                "api_key.revoked",
                "test.ping"
              ]
            }
          },
          "description": {
            "type": ["string", "null"]
          },
          "active": {
            "type": "boolean"
          },
          "consecutive_failures": {
            "type": "integer",
            "minimum": 0
          },
          "last_success_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "last_failure_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "disabled_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "delivery_counts": {
            "type": "object",
            "properties": {
              "delivered": {
                "type": "integer",
                "minimum": 0
              },
              "failed": {
                "type": "integer",
                "minimum": 0
              },
              "dlq": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": ["delivered", "failed", "dlq"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "secret": {
            "type": "string",
            "description": "Plaintext signing secret. Returned ONCE; not retrievable later."
          }
        },
        "required": [
          "id",
          "url",
          "secret_prefix",
          "prev_secret_prefix",
          "rotation_grace_expires_at",
          "events",
          "description",
          "active",
          "consecutive_failures",
          "last_success_at",
          "last_failure_at",
          "disabled_at",
          "delivery_counts",
          "created_at",
          "secret"
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^wdl_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "webhook_id": {
            "type": "string",
            "pattern": "^whk_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "event_id": {
            "type": "string",
            "format": "uuid"
          },
          "event_type": {
            "type": "string",
            "enum": [
              "session.completed",
              "session.failed",
              "quota.warning_80pct",
              "quota.exceeded",
              "api_key.revoked",
              "test.ping"
            ]
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in_flight", "delivered", "failed", "dlq"]
          },
          "attempts": {
            "type": "integer",
            "minimum": 0
          },
          "next_attempt_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "last_response_status": {
            "type": ["integer", "null"]
          },
          "last_response_excerpt": {
            "type": ["string", "null"]
          },
          "last_error": {
            "type": ["string", "null"]
          },
          "delivered_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "webhook_id",
          "event_id",
          "event_type",
          "status",
          "attempts",
          "next_attempt_at",
          "last_response_status",
          "last_response_excerpt",
          "last_error",
          "delivered_at",
          "created_at"
        ]
      },
      "ListDeliveriesQuery": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          "cursor": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in_flight", "delivered", "failed", "dlq"]
          }
        }
      },
      "AdminAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": ["string", "null"]
          },
          "tier": {
            "type": "string",
            "enum": [
              "trial_pack",
              "solo_manual",
              "team_manual",
              "agency_manual",
              "api_starter",
              "api_builder",
              "api_scale",
              "enterprise"
            ]
          },
          "status": {
            "type": "string",
            "enum": ["active", "suspended", "deleted"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": ["id", "email", "name", "tier", "status", "created_at", "updated_at"]
      },
      "AdminAuditLogEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "admin_account_id": {
            "type": "string"
          },
          "admin_key_id": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": [
              "account.tier_changed",
              "account.suspended",
              "account.unsuspended",
              "webhook_delivery.replayed",
              "webhook_delivery.requeued",
              "rate_limit_override.set",
              "rate_limit_override.cleared",
              "session.destroyed_by_admin",
              "api_key.revoked_by_admin",
              "audit_note.added",
              "refund.recorded",
              "incident.created",
              "incident.updated",
              "incident.resolved",
              "status_subscriber.force_unsubscribed",
              "status_subscriber.purged"
            ]
          },
          "target_account_id": {
            "type": ["string", "null"]
          },
          "target_resource_id": {
            "type": ["string", "null"]
          },
          "input_payload": {
            "type": ["object", "null"],
            "additionalProperties": {}
          },
          "result": {
            "type": "string"
          },
          "ip_address": {
            "type": ["string", "null"]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "admin_account_id",
          "admin_key_id",
          "action",
          "target_account_id",
          "target_resource_id",
          "input_payload",
          "result",
          "ip_address",
          "timestamp"
        ]
      },
      "RotateApiKeyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "read",
                "write",
                "admin",
                "account_owner",
                "driftstack_internal_admin",
                "gui_control"
              ]
            }
          },
          "last_used_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "revoked_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "expires_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "plaintext": {
            "type": "string",
            "description": "The plaintext key. Shown once at creation; not retrievable later."
          },
          "rotated_from": {
            "type": "string"
          },
          "grace_period_ends_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "key_prefix",
          "scopes",
          "last_used_at",
          "revoked_at",
          "expires_at",
          "created_at",
          "plaintext",
          "rotated_from",
          "grace_period_ends_at"
        ]
      },
      "RotateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "TeamInviteRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": ["member", "admin"]
          }
        },
        "required": ["email"]
      },
      "TeamInvite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefixed invite id (inv_<uuid>)"
          },
          "owner_account_id": {
            "type": "string"
          },
          "invitee_email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["member", "admin"]
          },
          "expires_at": {
            "type": "string"
          },
          "invited_by_account_id": {
            "type": ["string", "null"]
          },
          "accepted_at": {
            "type": ["string", "null"]
          },
          "created_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "owner_account_id",
          "invitee_email",
          "role",
          "expires_at",
          "invited_by_account_id",
          "accepted_at",
          "created_at"
        ]
      },
      "TeamMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefixed membership id (mem_<uuid>)"
          },
          "owner_account_id": {
            "type": "string"
          },
          "member_account_id": {
            "type": "string"
          },
          "member_email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["member", "admin"]
          },
          "invited_at": {
            "type": "string"
          },
          "accepted_at": {
            "type": "string"
          },
          "invited_by_account_id": {
            "type": ["string", "null"]
          }
        },
        "required": [
          "id",
          "owner_account_id",
          "member_account_id",
          "member_email",
          "role",
          "invited_at",
          "accepted_at",
          "invited_by_account_id"
        ]
      },
      "TeamAcceptRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "minLength": 20
          }
        },
        "required": ["token"]
      },
      "TeamOwner": {
        "type": "object",
        "properties": {
          "owner_account_id": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["member", "admin"]
          },
          "membership_id": {
            "type": "string"
          }
        },
        "required": ["owner_account_id", "role", "membership_id"]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/sessions": {
      "post": {
        "summary": "Create a session",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "archetype": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 60,
                    "pattern": "^[a-z0-9_]+$"
                  },
                  "purpose": {
                    "type": "string",
                    "enum": [
                      "production_customer",
                      "cumulative_rig_validation",
                      "test_domain_probe"
                    ]
                  },
                  "label": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^ses_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "account_id": {
                      "type": "string",
                      "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "api_key_id": {
                      "type": "string",
                      "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["creating", "ready", "busy", "destroyed", "errored"]
                    },
                    "archetype": {
                      "type": "string",
                      "minLength": 3,
                      "maxLength": 60,
                      "pattern": "^[a-z0-9_]+$"
                    },
                    "purpose": {
                      "type": "string",
                      "enum": [
                        "production_customer",
                        "cumulative_rig_validation",
                        "test_domain_probe"
                      ]
                    },
                    "label": {
                      "type": ["string", "null"]
                    },
                    "metadata": {
                      "type": ["object", "null"],
                      "additionalProperties": {}
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "last_state_at": {
                      "type": ["string", "null"],
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "destroyed_at": {
                      "type": ["string", "null"],
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    }
                  },
                  "required": [
                    "id",
                    "account_id",
                    "api_key_id",
                    "status",
                    "archetype",
                    "purpose",
                    "label",
                    "metadata",
                    "created_at",
                    "updated_at",
                    "last_state_at",
                    "destroyed_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List sessions for the calling account",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^ses_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                          },
                          "account_id": {
                            "type": "string",
                            "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                          },
                          "api_key_id": {
                            "type": "string",
                            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                          },
                          "status": {
                            "type": "string",
                            "enum": ["creating", "ready", "busy", "destroyed", "errored"]
                          },
                          "archetype": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 60,
                            "pattern": "^[a-z0-9_]+$"
                          },
                          "purpose": {
                            "type": "string",
                            "enum": [
                              "production_customer",
                              "cumulative_rig_validation",
                              "test_domain_probe"
                            ]
                          },
                          "label": {
                            "type": ["string", "null"]
                          },
                          "metadata": {
                            "type": ["object", "null"],
                            "additionalProperties": {}
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          },
                          "last_state_at": {
                            "type": ["string", "null"],
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          },
                          "destroyed_at": {
                            "type": ["string", "null"],
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          }
                        },
                        "required": [
                          "id",
                          "account_id",
                          "api_key_id",
                          "status",
                          "archetype",
                          "purpose",
                          "label",
                          "metadata",
                          "created_at",
                          "updated_at",
                          "last_state_at",
                          "destroyed_at"
                        ]
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["data", "has_more", "next_cursor"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{id}/navigate": {
      "post": {
        "summary": "Navigate to a URL within a session",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Prefixed session id (ses_<uuid>)"
            },
            "required": true,
            "description": "Prefixed session id (ses_<uuid>)",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "timeout_ms": {
                    "type": "integer",
                    "minimum": 1000,
                    "maximum": 120000
                  },
                  "wait_until": {
                    "type": "string",
                    "enum": ["load", "domcontentloaded", "networkidle"],
                    "default": "load"
                  }
                },
                "required": ["url"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Navigation completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 100,
                      "maximum": 599
                    },
                    "final_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "duration_ms": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": ["url", "status", "final_url", "duration_ms"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Session not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "410": {
            "description": "Session destroyed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Driver-level error during navigation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{id}/interact": {
      "post": {
        "summary": "Send an interaction (tap / type / scroll / press) to the session",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["tap"]
                          },
                          "selector": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": ["kind", "selector"]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["type"]
                          },
                          "selector": {
                            "type": "string",
                            "minLength": 1
                          },
                          "text": {
                            "type": "string",
                            "maxLength": 10000
                          },
                          "delay_ms": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 500
                          }
                        },
                        "required": ["kind", "selector", "text"]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["scroll"]
                          },
                          "selector": {
                            "type": "string",
                            "minLength": 1
                          },
                          "delta_x": {
                            "type": "integer",
                            "default": 0
                          },
                          "delta_y": {
                            "type": "integer",
                            "default": 0
                          }
                        },
                        "required": ["kind"]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["press"]
                          },
                          "key": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 20
                          }
                        },
                        "required": ["kind", "key"]
                      }
                    ]
                  },
                  "timeout_ms": {
                    "type": "integer",
                    "minimum": 100,
                    "maximum": 60000
                  }
                },
                "required": ["action"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Interaction completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "duration_ms": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": ["ok", "duration_ms"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Session not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "410": {
            "description": "Session destroyed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Driver-level error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{id}/wait": {
      "post": {
        "summary": "Wait for a session-side condition (selector, url, time)",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "condition": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["selector"]
                          },
                          "selector": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": ["kind", "selector"]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["selector_hidden"]
                          },
                          "selector": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": ["kind", "selector"]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["url_matches"]
                          },
                          "pattern": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": ["kind", "pattern"]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["time"]
                          },
                          "ms": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 60000
                          }
                        },
                        "required": ["kind", "ms"]
                      }
                    ]
                  },
                  "timeout_ms": {
                    "type": "integer",
                    "minimum": 100,
                    "maximum": 120000
                  }
                },
                "required": ["condition"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wait resolved (satisfied or timed out).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "satisfied": {
                      "type": "boolean"
                    },
                    "duration_ms": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": ["satisfied", "duration_ms"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{id}/state": {
      "get": {
        "summary": "Snapshot current session state (URL, title, cookies, localStorage)",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Session state.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": ["string", "null"],
                      "format": "uri"
                    },
                    "title": {
                      "type": ["string", "null"]
                    },
                    "cookies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {}
                      }
                    },
                    "local_storage": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "captured_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    }
                  },
                  "required": ["url", "title", "cookies", "local_storage", "captured_at"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{id}/capture": {
      "post": {
        "summary": "Capture a screenshot, DOM snapshot, or PDF of the session",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["screenshot", "dom_snapshot", "pdf"]
                  },
                  "full_page": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": ["kind"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Capture produced.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": ["screenshot", "dom_snapshot", "pdf"]
                    },
                    "data": {
                      "type": "string"
                    },
                    "encoding": {
                      "type": "string",
                      "enum": ["base64", "utf8"]
                    },
                    "byte_size": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "duration_ms": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": ["kind", "data", "encoding", "byte_size", "duration_ms"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{id}": {
      "delete": {
        "summary": "Destroy a session",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Session destroyed."
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys": {
      "post": {
        "summary": "Create an API key (returns plaintext once, never retrievable later)",
        "tags": ["API keys"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "read",
                        "write",
                        "admin",
                        "account_owner",
                        "driftstack_internal_admin",
                        "gui_control"
                      ]
                    },
                    "minItems": 1
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                  }
                },
                "required": ["name", "scopes"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Key created. The plaintext is in the response — store it now.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "name": {
                      "type": "string"
                    },
                    "key_prefix": {
                      "type": "string"
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "read",
                          "write",
                          "admin",
                          "account_owner",
                          "driftstack_internal_admin",
                          "gui_control"
                        ]
                      }
                    },
                    "last_used_at": {
                      "type": ["string", "null"],
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "revoked_at": {
                      "type": ["string", "null"],
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "expires_at": {
                      "type": ["string", "null"],
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "plaintext": {
                      "type": "string",
                      "description": "The plaintext key. Shown once at creation; not retrievable later."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "key_prefix",
                    "scopes",
                    "last_used_at",
                    "revoked_at",
                    "expires_at",
                    "created_at",
                    "plaintext"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List API keys for the calling account",
        "tags": ["API keys"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of keys (plaintext never included).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                          },
                          "name": {
                            "type": "string"
                          },
                          "key_prefix": {
                            "type": "string"
                          },
                          "scopes": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "read",
                                "write",
                                "admin",
                                "account_owner",
                                "driftstack_internal_admin",
                                "gui_control"
                              ]
                            }
                          },
                          "last_used_at": {
                            "type": ["string", "null"],
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          },
                          "revoked_at": {
                            "type": ["string", "null"],
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          },
                          "expires_at": {
                            "type": ["string", "null"],
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "key_prefix",
                          "scopes",
                          "last_used_at",
                          "revoked_at",
                          "expires_at",
                          "created_at"
                        ]
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys/{id}": {
      "delete": {
        "summary": "Revoke an API key",
        "tags": ["API keys"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Key revoked."
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Key not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys/{id}/rotate": {
      "post": {
        "summary": "Rotate an API key (V-296). 24h grace; new plaintext shown once",
        "tags": ["API keys"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New key created with the same scopes; old key auto-revokes at grace_period_ends_at.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Key not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "summary": "Current-period usage totals + tier quotas",
        "tags": ["Usage"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Period summary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period_start": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "period_end": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "tier": {
                      "type": "string",
                      "enum": [
                        "trial_pack",
                        "solo_manual",
                        "team_manual",
                        "agency_manual",
                        "api_starter",
                        "api_builder",
                        "api_scale",
                        "enterprise"
                      ]
                    },
                    "totals": {
                      "type": "object",
                      "properties": {
                        "session_minute": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "navigate": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "interact": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "wait": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "state_capture": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "screenshot_capture": {
                          "type": "integer",
                          "minimum": 0
                        }
                      }
                    },
                    "quotas": {
                      "type": "object",
                      "properties": {
                        "session_minute": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "navigate": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "interact": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "wait": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "state_capture": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "screenshot_capture": {
[...]
