{
  "openapi": "3.1.0",
  "info": {
    "title": "Driftstack API",
    "version": "0.0.1",
    "description": "Driftstack API — stealth iPhone Safari automation. Pre-launch contract; subject to change.",
    "license": {
      "name": "MIT"
    },
    "contact": {
      "name": "Driftstack",
      "url": "https://github.com/driftstackdev/driftstack-api"
    }
  },
  "servers": [
    {
      "url": "https://api.driftstack.dev",
      "description": "Production (placeholder)"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": ["string", "null"]
          },
          "tier": {
            "type": "string",
            "enum": ["free", "starter", "solo", "builder", "scale", "enterprise"]
          },
          "status": {
            "type": "string",
            "enum": ["active", "suspended", "deleted"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": ["id", "email", "name", "tier", "status", "created_at", "updated_at"]
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["read", "write", "admin"]
            }
          },
          "last_used_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "revoked_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "expires_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "name",
          "key_prefix",
          "scopes",
          "last_used_at",
          "revoked_at",
          "expires_at",
          "created_at"
        ]
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^ses_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "account_id": {
            "type": "string",
            "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "api_key_id": {
            "type": "string",
            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "status": {
            "type": "string",
            "enum": ["creating", "ready", "busy", "destroyed", "errored"]
          },
          "archetype": {
            "type": "string",
            "minLength": 3,
            "maxLength": 60,
            "pattern": "^[a-z0-9_]+$"
          },
          "label": {
            "type": ["string", "null"]
          },
          "metadata": {
            "type": ["object", "null"],
            "additionalProperties": {}
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "last_state_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "destroyed_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "account_id",
          "api_key_id",
          "status",
          "archetype",
          "label",
          "metadata",
          "created_at",
          "updated_at",
          "last_state_at",
          "destroyed_at"
        ]
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "Stable URI identifying the problem class. Clients switch on this."
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 599
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "required": ["type", "title", "status"],
        "additionalProperties": {},
        "description": "RFC 7807 problem details"
      },
      "UsagePeriodSummary": {
        "type": "object",
        "properties": {
          "period_start": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "period_end": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "tier": {
            "type": "string",
            "enum": ["free", "starter", "solo", "builder", "scale", "enterprise"]
          },
          "totals": {
            "type": "object",
            "properties": {
              "session_minute": {
                "type": "integer",
                "minimum": 0
              },
              "navigate": {
                "type": "integer",
                "minimum": 0
              },
              "interact": {
                "type": "integer",
                "minimum": 0
              },
              "wait": {
                "type": "integer",
                "minimum": 0
              },
              "state_capture": {
                "type": "integer",
                "minimum": 0
              },
              "screenshot_capture": {
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "quotas": {
            "type": "object",
            "properties": {
              "session_minute": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "navigate": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "interact": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "wait": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "state_capture": {
                "type": ["integer", "null"],
                "minimum": 0
              },
              "screenshot_capture": {
                "type": ["integer", "null"],
                "minimum": 0
              }
            }
          }
        },
        "required": ["period_start", "period_end", "tier", "totals", "quotas"]
      },
      "AdminAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": ["string", "null"]
          },
          "tier": {
            "type": "string",
            "enum": ["free", "starter", "solo", "builder", "scale", "enterprise"]
          },
          "status": {
            "type": "string",
            "enum": ["active", "suspended", "deleted"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": ["id", "email", "name", "tier", "status", "created_at", "updated_at"]
      },
      "AdminAuditLogEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "admin_account_id": {
            "type": "string"
          },
          "admin_key_id": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": [
              "account.tier_changed",
              "account.suspended",
              "account.unsuspended",
              "webhook_delivery.replayed",
              "webhook_delivery.requeued",
              "rate_limit_override.set",
              "rate_limit_override.cleared"
            ]
          },
          "target_account_id": {
            "type": ["string", "null"]
          },
          "target_resource_id": {
            "type": ["string", "null"]
          },
          "input_payload": {
            "type": ["object", "null"],
            "additionalProperties": {}
          },
          "result": {
            "type": "string"
          },
          "ip_address": {
            "type": ["string", "null"]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "admin_account_id",
          "admin_key_id",
          "action",
          "target_account_id",
          "target_resource_id",
          "input_payload",
          "result",
          "ip_address",
          "timestamp"
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^wdl_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "webhook_id": {
            "type": "string",
            "pattern": "^whk_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "event_id": {
            "type": "string",
            "format": "uuid"
          },
          "event_type": {
            "type": "string",
            "enum": [
              "session.completed",
              "session.failed",
              "quota.warning_80pct",
              "quota.exceeded",
              "api_key.revoked"
            ]
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in_flight", "delivered", "failed", "dlq"]
          },
          "attempts": {
            "type": "integer",
            "minimum": 0
          },
          "next_attempt_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "last_response_status": {
            "type": ["integer", "null"]
          },
          "last_response_excerpt": {
            "type": ["string", "null"]
          },
          "last_error": {
            "type": ["string", "null"]
          },
          "delivered_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
          }
        },
        "required": [
          "id",
          "webhook_id",
          "event_id",
          "event_type",
          "status",
          "attempts",
          "next_attempt_at",
          "last_response_status",
          "last_response_excerpt",
          "last_error",
          "delivered_at",
          "created_at"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/sessions": {
      "post": {
        "summary": "Create a session",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "archetype": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 60,
                    "pattern": "^[a-z0-9_]+$"
                  },
                  "label": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^ses_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "account_id": {
                      "type": "string",
                      "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "api_key_id": {
                      "type": "string",
                      "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["creating", "ready", "busy", "destroyed", "errored"]
                    },
                    "archetype": {
                      "type": "string",
                      "minLength": 3,
                      "maxLength": 60,
                      "pattern": "^[a-z0-9_]+$"
                    },
                    "label": {
                      "type": ["string", "null"]
                    },
                    "metadata": {
                      "type": ["object", "null"],
                      "additionalProperties": {}
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "last_state_at": {
                      "type": ["string", "null"],
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "destroyed_at": {
                      "type": ["string", "null"],
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    }
                  },
                  "required": [
                    "id",
                    "account_id",
                    "api_key_id",
                    "status",
                    "archetype",
                    "label",
                    "metadata",
                    "created_at",
                    "updated_at",
                    "last_state_at",
                    "destroyed_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List sessions for the calling account",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^ses_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                          },
                          "account_id": {
                            "type": "string",
                            "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                          },
                          "api_key_id": {
                            "type": "string",
                            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                          },
                          "status": {
                            "type": "string",
                            "enum": ["creating", "ready", "busy", "destroyed", "errored"]
                          },
                          "archetype": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 60,
                            "pattern": "^[a-z0-9_]+$"
                          },
                          "label": {
                            "type": ["string", "null"]
                          },
                          "metadata": {
                            "type": ["object", "null"],
                            "additionalProperties": {}
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          },
                          "last_state_at": {
                            "type": ["string", "null"],
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          },
                          "destroyed_at": {
                            "type": ["string", "null"],
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          }
                        },
                        "required": [
                          "id",
                          "account_id",
                          "api_key_id",
                          "status",
                          "archetype",
                          "label",
                          "metadata",
                          "created_at",
                          "updated_at",
                          "last_state_at",
                          "destroyed_at"
                        ]
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["data", "has_more", "next_cursor"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{id}/navigate": {
      "post": {
        "summary": "Navigate to a URL within a session",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Prefixed session id (ses_<uuid>)"
            },
            "required": true,
            "description": "Prefixed session id (ses_<uuid>)",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "timeout_ms": {
                    "type": "integer",
                    "minimum": 1000,
                    "maximum": 120000
                  },
                  "wait_until": {
                    "type": "string",
                    "enum": ["load", "domcontentloaded", "networkidle"],
                    "default": "load"
                  }
                },
                "required": ["url"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Navigation completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 100,
                      "maximum": 599
                    },
                    "final_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "duration_ms": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": ["url", "status", "final_url", "duration_ms"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Session not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "410": {
            "description": "Session destroyed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Driver-level error during navigation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{id}/interact": {
      "post": {
        "summary": "Send an interaction (tap / type / scroll / press) to the session",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["tap"]
                          },
                          "selector": {
                            "type": "string",
                            "minLength": 1
                          },
                          "offset": {
                            "type": "object",
                            "properties": {
                              "x": {
                                "type": "integer"
                              },
                              "y": {
                                "type": "integer"
                              }
                            },
                            "required": ["x", "y"]
                          }
                        },
                        "required": ["kind", "selector"]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["type"]
                          },
                          "selector": {
                            "type": "string",
                            "minLength": 1
                          },
                          "text": {
                            "type": "string",
                            "maxLength": 10000
                          },
                          "delay_ms": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 500
                          }
                        },
                        "required": ["kind", "selector", "text"]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["scroll"]
                          },
                          "selector": {
                            "type": "string",
                            "minLength": 1
                          },
                          "delta_x": {
                            "type": "integer",
                            "default": 0
                          },
                          "delta_y": {
                            "type": "integer",
                            "default": 0
                          }
                        },
                        "required": ["kind"]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["press"]
                          },
                          "key": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 20
                          }
                        },
                        "required": ["kind", "key"]
                      }
                    ]
                  },
                  "timeout_ms": {
                    "type": "integer",
                    "minimum": 100,
                    "maximum": 60000
                  }
                },
                "required": ["action"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Interaction completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "duration_ms": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": ["ok", "duration_ms"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Session not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "410": {
            "description": "Session destroyed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Driver-level error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{id}/wait": {
      "post": {
        "summary": "Wait for a session-side condition (selector, url, time)",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "condition": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["selector"]
                          },
                          "selector": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": ["kind", "selector"]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["selector_hidden"]
                          },
                          "selector": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": ["kind", "selector"]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["url_matches"]
                          },
                          "pattern": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": ["kind", "pattern"]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["time"]
                          },
                          "ms": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 60000
                          }
                        },
                        "required": ["kind", "ms"]
                      }
                    ]
                  },
                  "timeout_ms": {
                    "type": "integer",
                    "minimum": 100,
                    "maximum": 120000
                  }
                },
                "required": ["condition"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wait resolved (satisfied or timed out).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "satisfied": {
                      "type": "boolean"
                    },
                    "duration_ms": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": ["satisfied", "duration_ms"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{id}/state": {
      "get": {
        "summary": "Snapshot current session state (URL, title, cookies, localStorage)",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Session state.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": ["string", "null"],
                      "format": "uri"
                    },
                    "title": {
                      "type": ["string", "null"]
                    },
                    "cookies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {}
                      }
                    },
                    "local_storage": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "captured_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    }
                  },
                  "required": ["url", "title", "cookies", "local_storage", "captured_at"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{id}/capture": {
      "post": {
        "summary": "Capture a screenshot, DOM snapshot, or PDF of the session",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["screenshot", "dom_snapshot", "pdf"]
                  },
                  "full_page": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": ["kind"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Capture produced.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": ["screenshot", "dom_snapshot", "pdf"]
                    },
                    "data": {
                      "type": "string"
                    },
                    "encoding": {
                      "type": "string",
                      "enum": ["base64", "utf8"]
                    },
                    "byte_size": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "duration_ms": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": ["kind", "data", "encoding", "byte_size", "duration_ms"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{id}": {
      "delete": {
        "summary": "Destroy a session",
        "tags": ["Sessions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Session destroyed."
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys": {
      "post": {
        "summary": "Create an API key (returns plaintext once, never retrievable later)",
        "tags": ["API keys"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["read", "write", "admin"]
                    },
                    "minItems": 1
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                  }
                },
                "required": ["name", "scopes"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Key created. The plaintext is in the response — store it now.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "name": {
                      "type": "string"
                    },
                    "key_prefix": {
                      "type": "string"
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": ["read", "write", "admin"]
                      }
                    },
                    "last_used_at": {
                      "type": ["string", "null"],
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "revoked_at": {
                      "type": ["string", "null"],
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "expires_at": {
                      "type": ["string", "null"],
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "plaintext": {
                      "type": "string",
                      "description": "The plaintext key. Shown once at creation; not retrievable later."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "key_prefix",
                    "scopes",
                    "last_used_at",
                    "revoked_at",
                    "expires_at",
                    "created_at",
                    "plaintext"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List API keys for the calling account",
        "tags": ["API keys"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of keys (plaintext never included).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^key_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                          },
                          "name": {
                            "type": "string"
                          },
                          "key_prefix": {
                            "type": "string"
                          },
                          "scopes": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": ["read", "write", "admin"]
                            }
                          },
                          "last_used_at": {
                            "type": ["string", "null"],
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          },
                          "revoked_at": {
                            "type": ["string", "null"],
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          },
                          "expires_at": {
                            "type": ["string", "null"],
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "key_prefix",
                          "scopes",
                          "last_used_at",
                          "revoked_at",
                          "expires_at",
                          "created_at"
                        ]
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys/{id}": {
      "delete": {
        "summary": "Revoke an API key",
        "tags": ["API keys"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Key revoked."
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Key not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "summary": "Current-period usage totals + tier quotas",
        "tags": ["Usage"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Period summary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period_start": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "period_end": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "tier": {
                      "type": "string",
                      "enum": ["free", "starter", "solo", "builder", "scale", "enterprise"]
                    },
                    "totals": {
                      "type": "object",
                      "properties": {
                        "session_minute": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "navigate": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "interact": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "wait": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "state_capture": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "screenshot_capture": {
                          "type": "integer",
                          "minimum": 0
                        }
                      }
                    },
                    "quotas": {
                      "type": "object",
                      "properties": {
                        "session_minute": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "navigate": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "interact": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "wait": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "state_capture": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "screenshot_capture": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        }
                      }
                    }
                  },
                  "required": ["period_start", "period_end", "tier", "totals", "quotas"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Liveness probe",
        "tags": ["Meta"],
        "responses": {
          "200": {
            "description": "Server is up.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": ["ok"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/accounts/{id}/tier": {
      "post": {
        "summary": "Change account tier (admin)",
        "tags": ["admin"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Prefixed account id (acc_<uuid>)"
            },
            "required": true,
            "description": "Prefixed account id (acc_<uuid>)",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tier": {
                    "type": "string",
                    "enum": ["free", "starter", "solo", "builder", "scale", "enterprise"]
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": ["tier"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated account row.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "name": {
                      "type": ["string", "null"]
                    },
                    "tier": {
                      "type": "string",
                      "enum": ["free", "starter", "solo", "builder", "scale", "enterprise"]
                    },
                    "status": {
                      "type": "string",
                      "enum": ["active", "suspended", "deleted"]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    }
                  },
                  "required": ["id", "email", "name", "tier", "status", "created_at", "updated_at"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Account not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/accounts/{id}/suspend": {
      "post": {
        "summary": "Suspend an account (admin)",
        "tags": ["admin"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account suspended.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "name": {
                      "type": ["string", "null"]
                    },
                    "tier": {
                      "type": "string",
                      "enum": ["free", "starter", "solo", "builder", "scale", "enterprise"]
                    },
                    "status": {
                      "type": "string",
                      "enum": ["active", "suspended", "deleted"]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    }
                  },
                  "required": ["id", "email", "name", "tier", "status", "created_at", "updated_at"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Account not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/accounts/{id}/unsuspend": {
      "post": {
        "summary": "Restore a suspended account (admin)",
        "tags": ["admin"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account active.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^acc_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "name": {
                      "type": ["string", "null"]
                    },
                    "tier": {
                      "type": "string",
                      "enum": ["free", "starter", "solo", "builder", "scale", "enterprise"]
                    },
                    "status": {
                      "type": "string",
                      "enum": ["active", "suspended", "deleted"]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    }
                  },
                  "required": ["id", "email", "name", "tier", "status", "created_at", "updated_at"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Account not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/accounts/{id}/usage": {
      "get": {
        "summary": "Usage period summary for any account (admin)",
        "tags": ["admin"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Period summary for the target account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period_start": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "period_end": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "tier": {
                      "type": "string",
                      "enum": ["free", "starter", "solo", "builder", "scale", "enterprise"]
                    },
                    "totals": {
                      "type": "object",
                      "properties": {
                        "session_minute": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "navigate": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "interact": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "wait": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "state_capture": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "screenshot_capture": {
                          "type": "integer",
                          "minimum": 0
                        }
                      }
                    },
                    "quotas": {
                      "type": "object",
                      "properties": {
                        "session_minute": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "navigate": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "interact": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "wait": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "state_capture": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        },
                        "screenshot_capture": {
                          "type": ["integer", "null"],
                          "minimum": 0
                        }
                      }
                    }
                  },
                  "required": ["period_start", "period_end", "tier", "totals", "quotas"]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Account not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/accounts/{id}/quota-override": {
      "post": {
        "summary": "Set a temporary rate-limit override on a bucket (admin)",
        "tags": ["admin"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bucket_key": {
                    "type": "string",
                    "enum": ["global", "sessions:create"]
                  },
                  "capacity": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000000
                  },
                  "refill_per_second": {
                    "type": "number",
                    "minimum": 0.01,
                    "maximum": 100000
                  },
                  "duration_seconds": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2592000
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": ["bucket_key", "capacity", "refill_per_second", "duration_seconds"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Override stored. Effective on the next auth-cache miss for the target.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_id": {
                      "type": "string"
                    },
                    "bucket_key": {
                      "type": "string"
                    },
                    "capacity": {
                      "type": "integer"
                    },
                    "refill_per_second": {
                      "type": "number"
                    },
                    "reason": {
                      "type": ["string", "null"]
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    }
                  },
                  "required": [
                    "account_id",
                    "bucket_key",
                    "capacity",
                    "refill_per_second",
                    "reason",
                    "expires_at",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Account not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Clear a rate-limit override (admin)",
        "tags": ["admin"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["global", "sessions:create"]
            },
            "required": true,
            "name": "bucket_key",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": "Override cleared."
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No active override for that bucket.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/webhook-deliveries/{id}": {
      "get": {
        "summary": "Fetch one webhook delivery (admin)",
        "tags": ["admin"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Prefixed delivery id (wdl_<uuid>)"
            },
            "required": true,
            "description": "Prefixed delivery id (wdl_<uuid>)",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery row.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^wdl_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "webhook_id": {
                      "type": "string",
                      "pattern": "^whk_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "event_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "event_type": {
                      "type": "string",
                      "enum": [
                        "session.completed",
                        "session.failed",
                        "quota.warning_80pct",
                        "quota.exceeded",
                        "api_key.revoked"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": ["pending", "in_flight", "delivered", "failed", "dlq"]
                    },
                    "attempts": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "next_attempt_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "last_response_status": {
                      "type": ["integer", "null"]
                    },
                    "last_response_excerpt": {
                      "type": ["string", "null"]
                    },
                    "last_error": {
                      "type": ["string", "null"]
                    },
                    "delivered_at": {
                      "type": ["string", "null"],
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    }
                  },
                  "required": [
                    "id",
                    "webhook_id",
                    "event_id",
                    "event_type",
                    "status",
                    "attempts",
                    "next_attempt_at",
                    "last_response_status",
                    "last_response_excerpt",
                    "last_error",
                    "delivered_at",
                    "created_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Delivery not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or concurrency limit hit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/webhook-deliveries/{id}/replay": {
      "post": {
        "summary": "Replay a webhook delivery (admin)",
        "tags": ["admin"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery reset to pending; worker will retry.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^wdl_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "webhook_id": {
                      "type": "string",
                      "pattern": "^whk_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                    },
                    "event_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "event_type": {
                      "type": "string",
                      "enum": [
                        "session.completed",
                        "session.failed",
                        "quota.warning_80pct",
                        "quota.exceeded",
                        "api_key.revoked"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": ["pending", "in_flight", "delivered", "failed", "dlq"]
                    },
                    "attempts": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "next_attempt_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "last_response_status": {
                      "type": ["integer", "null"]
                    },
                    "last_response_excerpt": {
                      "type": ["string", "null"]
                    },
                    "last_error": {
                      "type": ["string", "null"]
                    },
                    "delivered_at": {
                      "type": ["string", "null"],
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp with timezone offset, e.g. 2026-05-02T09:15:00Z"
                    }
                  },
                  "required": [
                    "id",
                    "webhook_id",
                    "event_id",
                    "event_type",
                    "status",
                    "attempts",
                    "next_attempt_at",
                    "last_response_status",
                    "last_response_excerpt",
                    "last_error",
                    "delivered_at",
                    "created_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Caller not permitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Delivery not found.",
            "content": {
              "application/problem+json": {
                "schema": {
[...]
